= render "shared/nav_bar"
.landing-dashboard
  .dashboard-container
    .dashboard-title
      %h1="CookImagepad. Upload, comment, create"
    .dashboard-text
    .dashboard-button-container
      %a{:href => "#"}
        .dashboard-button
          %p="START COMMETING AND SHARING"
