 @font-face {
   font-family: "Proxima Nova Reg";
    src: font-url('proxima_nova_regular.woff2') format('woff2'),
         font-url('proxima_nova_regular.ttf') format('truetype');
 }

 @font-face {
   font-family: "Proxima Nova Light";
   src: font-url('proxima_nova_light.woff2') format('woff2'),
        font-url('proxima_nova_light.ttf') format('truetype');
 }

 @font-face {
   font-family: "Proxima Nova Bold";
   src: font-url('proxima_nova_bold.woff2') format('woff2'),
        font-url('proxima_nova_bold.ttf') format('truetype');
 }

 $TEXT: #999999;
 $LIGHT_TEXT: #888888;
 $PRIMARY_FONT: 'Proxima Nova Reg', sans-serif;
 $LIGHT_FONT: 'Proxima Nova Light', sans-serif;
 $TEAL: #00FFFF;
 $BTN_TEAL: #3ACCED;
 $LIGHT_TEAL: #51deff;
 $NAVBAR_BLACK: #2b2b2b;
 $LIGHT_GRAY: #c9c9c9;
 $GREEN: #54DE8F;
 $LIGHT_GREEN: #65f7a3;
 $BUTTON_COLOR: #33c5e6;
 $DARK_BLUE: #0F1825;

 $PICTURES_COLOR: $DARK_BLUE;

 $HEADER_HEIGHT: 0;
 $SIDEBAR_WIDTH: 300px;

 $LETTER_SPACING: 4px;

/*
BASE - SCSS
*/

 body {
   font-family: $PRIMARY_FONT;
   margin: 0;
   min-height: 100vh;
 }

 body, html, #root {
   min-height: 100vh;
 }

 html.no-scroll {
   overflow: hidden;
 }

 button:focus{
    outline:none;
 }
 button::-moz-focus-inner {
    border: 0;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 a:visited {
   color: inherit;
 }

 input {
   border: none;
 }

 * {
   box-sizing: border-box;
 }

 p {
   margin: 0;
 }
 
 /*
 LANDING - SCSS
 */
 .landing-dashboard {
   font-family: $LIGHT_FONT;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;

   .dashboard-container {
     background-image: asset-data-url('landing/server-landing-background.jpg');
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;

     .dashboard-title {
       display: flex;
       flex-direction: row;
       justify-content: center;

       h1 {
         color: black;
         font-size: 4.0em;
       }

       @media (max-width: 700px) {
         h1 {
           font-size: 2.2em;
           text-align: center;
         }
       }
     }

     .dashboard-text {
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;

       p {
         padding-top: 6px;
         color: coffee;
       }

       @media (max-width: 700px) {
         p {
           display: none;
         }
       }
     }

     .dashboard-button-container {
       margin: 40px 0 0 0;
       display: flex;
       flex-direction: row;
       justify-content: center;

       .dashboard-button {
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: $BUTTON_COLOR;
         cursor: pointer;
         height: 40px;
         width: 250px;
         border-radius: 20px;

         p {
           font-size: 11px;
           color: white;
           letter-spacing: 0.15em;
         }
       }

       .dashboard-button:hover {
         background-color: mediumaquamarine;
       }

       .dashboard-button:active {
         background-color: mediumaquamarine;
         p {
           color: #C9C9C9;
         }
       }
     }
     .pictures-container {
       display: flex;
       flex-wrap: wrap;
       padding: 5% 0;
       height: auto;

       .pictures {
         padding: 18px 21px 12px;
         border-radius: 3px;
         list-style: none;
         flex: 1 0 21%;
         margin: 10px 18px;
         background: #f3f3f3;

         figure {
           overflow: hidden;
           margin: 0;
           height: 87%;
           border-radius: 3px;

           img {
             width: 100%;
           }
         }
       }

       .one-picture-container {
          display: flex;
         .comment-box {
          
         }
         .comments-picture {
           padding: 18px 21px 12px;
           border-radius: 3px;
           list-style: none;
           margin: 10px 18px;
           background: #f3f3f3;
         }
         .one-picture {
           padding: 18px 21px 12px;
           border-radius: 3px;
           list-style: none;
           flex: 1 0 50%;
           margin: 10px 18px;
           background: #f3f3f3;
        
           figure {
             overflow: hidden;
             margin: 0;
             height: 87%;
             border-radius: 3px;
        
             img {
               width: 100%;
             }
           }
         }
       }
     }
     .sign_forms {
       margin: 0px auto;
       padding: 20px 19px 10px;
       border-radius: 5px;
       line-height: 40px;
       width: 400px;
       font-size: 15px;
       font-weight: bold;
       color: #555;
       background: #f3f3f3;
       border-bottom: 1px solid #cfcfcf;

       .form-title {
         border-bottom: 1px solid #cfcfcf;
         display: flex;
         justify-content: space-evenly;

         h2{
           font-size: 18px;
           font-weight: bold;
           color: #555;
           text-shadow: 0 1px white;
           background: #f3f3f3;
         }

         img {
           margin: 10px 25px 10px 40px;
           height: 50px;
         }
       }

       .form-format {
         display: flex;
         textarea {
           max-width: 100%;
           width: 360px;
         }
         input[type=email],
         input[type=text],
         input[type=password] {
           margin: 5px;
           padding: 0 10px;
           width: 360px;
           height: 34px;
           color: #404040;
           background: white;
           border: 1px solid;
           border-color: #c4c4c4 #d1d1d1 #d4d4d4;
           border-radius: 2px;
           outline: 5px solid #eff4f7;
           -moz-outline-radius: 3px;

         &:focus {
           border-color: #7dc9e2;
           outline-color: #dceefc;
           outline-offset: 0;
           }
         }
         input[type="file"] {
           width: 360px;
           border: 1px solid #ccc;
           display: inline-block;
           padding: 6px 12px;
           cursor: pointer;
         }
         .button-submit {
           margin: 15px 10px;
           color: white;
           background-color: #33e65b;
           height: 40px;
           width: 90%;
           border-radius: 20px;
         }
       }
     }
   }
 }
 
 /*
 LANDING HEADER - SCSS
 */
 
 .landing-header {
   position: absolute;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #EDE4E4;
   height: 12vh;
   width: 100%;
   padding: 0 30px;

   h2 {
     margin: 0
   }

   .landing-choices {
     display: flex;
     justify-content: flex-start;
     justify-content: space-around;

     .choices-set {
       cursor: pointer;
       height: 11px;
       margin-left: 10px;
       margin-right: 10px;

       p {
         font-size: 13px;
         color: black;
         letter-spacing: 0.20em;
         text-transform: uppercase;
       }
     }
   }

   .header-server-logo {
     img {
       height: 50px;
     }
   }

   .header-button-container {
     display: flex;
     justify-content: center;
     align-items: center;

     .landing-button {
       display: flex;
       justify-content: center;
       align-items: center;
       cursor: pointer;
       border: solid;
       border-color: black;
       border-width: 2px;
       height: 40px;
       width: 150px;
       border-radius: 20px;
       margin-left: 10px;

       p {
         font-size: 12px;
         color: black;
         letter-spacing: 0.15em;
         text-transform: uppercase;
       }
     }

     .landing-button.login:hover {
       background-color: #7cc0d4;
     }


     .landing-button.login:active {
       p {
         color: $LIGHT_GRAY;
       }
     }

     .landing-button.signup:hover {
       background-color: #afe4c2;
       p {
         color: black;
       }
     }

     @media (max-width: 700px) {
       .landing-button.signup {
         display: none;
       }
     }
   }
 }
 
 /*
  Pictures help
 */
 
 .pictures-landing-container {
   display: flex;
   flex-direction: row;
   background-color: $PICTURES_COLOR;
   height: 240px;
   width: 100%;

   h2 {
     color: white;
     margin: 0;
   }

   .server-logos-container {
     display: flex;
     height: 100%;
     padding: 2% 5% 0 5%;

     .header-logo {
       height: 45px;
       margin-bottom: 5px;
     }

     .social-media-logos {
       height: 25px;
       margin: 20px 15px 15px 0;
     }

     p {
       margin-left: 5px;
       color: white;
       font-size: 0.55em;
     }

     .made-in {
       p {
         color: white;
         font-size: 1em;
       }
     }

     @media (max-width: 700px) {
       .header-logo {
         height: 35px;
       }

       .social-media-logos {
         height: 20px;
         margin: 20px 15px 15px 0;
       }

       p {
         font-size: 0.45em;
       }

     }
   }

   .server-links-container {
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     width: 70%;

     .server-link-column {
       display: flex;
       flex-direction: column;
       padding: 5% 20% 0 0;

       p {
         color: white;
         font-size: 1em;
         padding: 8px 3px 3px 0;
         cursor: pointer;
       }

       p:hover {
         color: $BUTTON_COLOR;
       }
     }

     @media (max-width: 700px) {
       .server-link-column.non-mobile {
         display: none;
       }

     }

   }

 }

 @media (max-width: 700px) {
   height: 200px;
 }
